---
layout: page-fullwidth-category
subheadline: 'Articles in Category'
---
{{ content }}

{% assign category_posts = site.categories[page.category] %}
{% if category_posts %}
	{% for post in category_posts %}
		{% capture post_year %}{{ post.date | date: '%Y' }}{% endcapture %}
		{% if forloop.first %}
			<ul>
		{% else %}
			{% assign previous_index = forloop.index0 | minus: 1 %}
			{% capture previous_post_year %}{{ category_posts[previous_index].date | date: '%Y' }}{% endcapture %}
			{% if post_year != previous_post_year %}
				</ul><ul>
			{% endif %}
		{% endif %}
		<li>{% include snippets/post_link.html post=post %}</li>

		{% if forloop.last %}
			</ul>
		{% endif %}
	{% endfor %}
{% else %}
	<p>現在、まだ記事はありません。</p>
{% endif %}
